.App {
  text-align: center;
}

.todoList{
  display: block;
  margin: auto;
  position: relative;
  width: 500px;
}

.todo{
 width: 99%;
  border: solid 1px black;
  padding: 10px;
  text-align: center;
  margin: 10px;
  background-color: white;
}
